# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.venv_streaming/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Data and Models (large binary files)
data/processed/
data/features/
models/saved/
*.parquet
*.pkl
*.h5
online+retail+ii/
catboost_info/

# Jupyter
.ipynb_checkpoints

# MLflow
mlruns/
mlflow.db

# IDE and OS
.vscode/
.idea/
.DS_Store
__MACOSX/
.pytest_cache/

# Credentials and Binaries
*.pem
*.exe
scratch/
