# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.venv_streaming/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Data and Models
/data/
/dataset olist/
models/*.pkl
models/*.json
models/*.h5

# Jupyter
.ipynb_checkpoints

# MLflow
mlruns/
mlflow.db

# IDE and OS
.vscode/
.idea/
.DS_Store
__MACOSX/
.pytest_cache/
